<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Daily_Tasks.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Daily_Tasks.My.MySettings.Daily_TasksConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;F:\QA\Daily Tasks\Database\DailyTasks.accdb&quot;"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Daily_Tasks.My.MySettings>
            <setting name="DBLocation" serializeAs="String">
                <value>F:\QA\Daily Tasks\Database\DailyTasks.accdb</value>
            </setting>
            <setting name="exitForm" serializeAs="String">
                <value />
            </setting>
            <setting name="taskID" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
        </Daily_Tasks.My.MySettings>
    </userSettings>
</configuration>